<div class="row">
  <div class="shadow-lg col-sm-4">
    <div class="card">
      <img
        src="../../../assets/images/home.png"
        width="300"
        height="300"
        alt=""
      />
      <div class="card-body p-2">
        <h1>{{ Property.Tipo }}</h1>
        <h2>{{ Property.Valor }}</h2>
        <h3>{{ Property.Nombre }}</h3>
      </div>
    </div>
  </div>

  <div class="shadow-lg col-sm-4">
    <div class="card">
      <img
        src="../../../assets/images/home.png"
        width="300"
        height="300"
        alt=""
      />
      <div class="card-body p-2">
        <h1>{{ Property.Tipo }}</h1>
        <h2>{{ Property.Valor }}</h2>
        <h3>{{ Property.Nombre }}</h3>
      </div>
    </div>
  </div>

  <div class="shadow-lg col-sm-4">
    <div class="card">
      <img
        src="../../../assets/images/home.png"
        width="300"
        height="300"
        alt=""
      />
      <div class="card-body p-2">
        <h1>{{ Property.Tipo }}</h1>
        <h2>{{ Property.Valor }}</h2>
        <h3>{{ Property.Nombre }}</h3>
      </div>
    </div>
  </div>
</div>
